Date and Time of Quiz Attempt: 2021/04/26 21:38:08<br>
Quiz Type: Division<br>
Number of questions answered correctly: 1<br>
Number of questions answered incorrectly: 0<br>
Number of typos made during quiz attempt: 0<br>
Level After Quiz Attempt: 97<br>
<br>
Date and Time of Quiz Attempt: 2021/04/26 21:38:42<br>
Quiz Type: Division<br>
Number of questions answered correctly: 0<br>
Number of questions answered incorrectly: 1<br>
Number of typos made during quiz attempt: 0<br>
Level After Quiz Attempt: 96<br>
<br>
Date and Time of Quiz Attempt: 2021/04/26 21:39:33<br>
Quiz Type: Division<br>
Number of questions answered correctly: 0<br>
Number of questions answered incorrectly: 1<br>
Number of typos made during quiz attempt: 14<br>
Level After Quiz Attempt: 95<br>
<br>
